<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grabbify</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mobile.css') }}" type="text/css">
    <script type="text/javascript" src="{{ url_for('static',filename='js/mobile.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--    <script>-->
    <!--        $.ajax({-->
    <!--       url:"/ajaxprogressbar",-->
    <!--       method:"GET",-->
    <!--       data:$(this).serialize(),-->
    <!--       success:function(data)-->
    <!--       {-->
    <!--        var percentage = 0;-->
    <!--        var timer = setInterval(function(){-->
    <!--         percentage = percentage + 20;-->
    <!--         progress_bar_process(percentage, timer, data);-->
    <!--        }, 1000);-->
    <!--       }-->
    <!--      })-->
    <!--       }-->
    <!--    </script>-->
</head>
<body>
<div id="page">
    <div id="header">
        <div class="s-navbar">
            <div class="logo">
                <a href="/"><img
                        src="http://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1270913/468349_383664.png"
                        height="60" alt=""></a>
            </div>
            <div id="title">
                <p style="font-size: 115%"><span class="s-text-color-white s-title-margin"><strong class="s-font-title">Grabbify</strong></span>
                </p>
            </div>
            <ul class="menu-items">
                <li>
                    <a href="/templates/about.html">About</a>
                </li>
                <li>
                    <a href="/progress">Contact</a>
                </li>
                <li class="menu">
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="/progress">Update Progress Bar</a>
                </li>
                <li class="selected">
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="body" class="home">
    <div class="header">
        <div style="width:85%">
            <div>
                <h1 id="description1">BRING MUSIC TO LIFE.</h1>
                <h3 id="description2" class="s-text-color-white">Let music flow in your heart and enrich your soul.</h3>
            </div>
        </div>
        <div class="body">
            <div>
                <h1>OUR MISSION</h1>
                <p>To provide you with music on the go, anywhere in the world.</p>
            </div>
        </div>
        <div class="footer">
            <div>
                <ul>
                    <li>
                        <h1>FEATURED VIDEO</h1>
                        <a href="blog.html"><img src="" alt=""><span></span></a>
                    </li>
                    <li>
                        <h1>LATEST BLOG</h1>
                        <ul>
                            <li>
                                <a href="blog.html"><img src="" alt=""></a>
                                <h1>FINDING PLANET X-123</h1>
                                <span>FEBRUARY 6, 2023</span>
                                <a href="blog.html" class="more">Read More</a>
                            </li>
                            <li>
                                <a href="blog.html"><img src="" alt=""></a>
                                <h1>NEW SATELLITE DISH</h1>
                                <span>FEBRUARY 3, 2023</span>
                                <a href="blog.html" class="more">Read More</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="connect">
            <div>
                <h1>FOLLOW OUR MISSIONS ON</h1>
                <div>
                    <a href="http://freewebsitetemplates.com/go/facebook/" class="facebook">facebook</a>
                    <a href="http://freewebsitetemplates.com/go/twitter/" class="twitter">twitter</a>
                    <a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus">googleplus</a>
                    <a href="http://pinterest.com/fwtemplates/" class="pinterest">pinterest</a>
                </div>
            </div>
        </div>
        <div class="footnote">
            <div>
                <p>&copy; 2023 BY GRABBIFY | ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>