<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grabbify - Fast and Free Spotify Playlist Downloads</title>
    <meta name="description"
          content="Download your favorite playlists from spotify in the best possible quality for free. No registration needed.">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mobile.css') }}" type="text/css">
    <script type="text/javascript" src="{{ url_for('static',filename='js/mobile.js') }}"></script>
    <script>
        var interval = setInterval(update_progress, 2000);
        function update_progress() {
             $.get('/progress').done(function(n){
                 document.getElementById("myBarText").innerHTML ="Downloading tracks...  " + n + "%";
                 if (n == 0) {
                    console.log('no tracks');
                    clearInterval(interval);
                    callback();
                 }
                 if (n != 0) {
                    document.getElementById("progress-hide").style.visibility = "visible";
                 }
                 if (n == 100) {
                     console.log('Download complete');
                     alert('Download complete!');
                    clearInterval(interval);
                    callback();
                 }
                 document.getElementsByClassName("progress-done")[0].style.width = n + "%";
             }).fail(function() {
                 console.log('error');
             });
        }



    </script>
</head>
<body>
<div id="page">
    <div id="header">
        <div class="s-navbar">
            <div class="logo">
                <a href="/"><img src="https://i.ibb.co/Mf1k3xL/logo.png" height="60" alt=""></a>
            </div>
            <div id="title">
                <p><span class="s-text-color-white s-title-margin"><strong class="s-font-title">Grabbify</strong></span>
                </p>
            </div>
            <ul class="menu-items">
                <li>
                    <a class="menu-item-link" href="#">About</a>
                </li>
                <li>
                    <a class="menu-item-link" href="#">FAQ</a>
                </li>
                <li>
                    <a class="menu-item-link" href="#">Blog</a>
                </li>
                <li class="selected">
                    <a class="menu-item-link" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="body" class="home">
    <div class="header">
        <div style="width:85%">
            <div>
                <h1 id="description1">BRING MUSIC TO LIFE.</h1>
                <h3 id="description2" class="s-text-color-white">Let music flow in your heart and enrich your soul.</h3>
            </div>
            <ul>
                <li class="input-form-list">
                    <form method="post" action="index.html" target="_self" style="width:90% !important;">
                        <div class="input-form-div">
                            <div class="input-wrapper" style="position: relative; top:15px;">
                                <label class="s-text-color-white label" style="">Playlist ID:</label>
                                <input type="text" class="html-text-box s-text-color-white s-text-center input"
                                       id="playlist_id" name="playlist_id" placeholder="Ex: 35xI4hSJ8MdO1xkXwsd56a"
                                       required>
                            </div>
                            <div class="input-wrapper" style="position: relative;">
                                <label class="s-text-color-white label" style="">Download Location:</label>
                                <input type="text" class="html-text-box s-text-color-white s-text-center input"
                                       id="download_path" name="download_path" placeholder="Ex: C:\Users\USER\Downloads"
                                       required>
                            </div>
                            <div style="width: 100%;">
                                <p style="margin: 5px auto 13px auto;"><input type="submit"
                                                                              class="html-text-box s-submit-button s-text-center"
                                                                              style="width: auto; margin: auto; color: #8a2b58;"
                                                                              value="GO">
                                </p>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="input-form-list">
                    <div id="progress-hide">
                        <div class="progress container">
                            <div role="progressbar" id="myBar" class="progress-done"></div>
                        </div>
                        <p id="myBarText" class="progress-text">Downloading tracks... </p>
                    </div>
                    <p>{{msg}}</p>
                </li>

                <li>
                </li>
            </ul>
        </div>
    </div>
    <div class="body">
        <div>
            <h1>OUR MISSION</h1>
            <p>To provide you with music on the go, anywhere in the world.</p>
        </div>
    </div>
</div>
<div id="footer">
    <div class="connect">
        <div>
            <h1>FOLLOW OUR MISSIONS ON</h1>
            <div>
                <a href="#" class="facebook">facebook</a>
                <a href="#" class="twitter">twitter</a>
                <a href="#" class="googleplus">googleplus</a>
            </div>
        </div>
    </div>
    <div class="footnote">
        <div>
            <p>&copy; 2023 BY GRABBIFY | ALL RIGHTS RESERVED</p>
        </div>
    </div>
</div>
</body>
</html>
